table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.filtre {
  margin-left: auto;
  margin-right: auto;
}
.statistiques {
  width: 80%;
  font-size: larger;
}
.classement {
  width: 100%;
  font-size: large;
}
header {
  text-align: center;
  font-weight: bold;
  font-size: larger;
}
@media only screen and (max-width: 850px) {
  .classement {
    font-size : 12px;
  }
}