<div class="homePage">
    <header>
        <img src="assets/img/logoUniv.png" class="logoNavBar">
        <h2>
            <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">
                Institut de sondage de la communauté de Morlaix
            </a>
        </h2>
        <div class="navBar">
            <a routerLink="/formulaire" routerLinkActive="active" ariaCurrentWhenActive="page"><button>
                FORMULAIRE
              </button></a>
            <a routerLink="/resultats" routerLinkActive="active" ariaCurrentWhenActive="page"><button>
                RESULTATS
              </button></a>
        </div>
    </header>
    <footer>Site réalisé par Axel Brun, Romain Groult et Alexis Montculier</footer>
</div>