footer,header {
    height: 50px;
    width: 100%;
    background-color: lightblue;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    position: fixed;
    left: 0pt;
}
footer {
    font-size: large;
    font-weight: bold;
    bottom: 0pt;
}

header {
    text-align: center;
    height: 100px;
    top: 0pt;
    margin-bottom: 100px;
}
.navBar {
    display: flex;
    justify-content: center;
    justify-content: space-around;
}
a {
    text-decoration: none;
    color: black;
}