footer, header {
    height: 50px;
    width: 100%;
    background-color: lightblue;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    position: fixed;
    z-index:1000; 
    left: 0pt;
    text-align: center;
    padding : auto;
}
footer {
    font-size: large;
    font-weight: bold;
    bottom: 0pt;
}
header {
    height: 100px;
    top: 0pt;
    margin-bottom: 100px;
}
.logoNavBar {
    position: fixed;
    top: 0pt;
    left: 0pt;
    height: 80px;
    width: 190px;
}
.navBar {
    display: flex;
    justify-content: center;
    justify-content: space-around;
}
a {
    text-decoration: none;
    color: black;
}
.pageAccueil{
    padding-top: 120px;
    padding-bottom: 70px;
    padding-left: 5%;
    padding-right: 5%;
    font-family: century gothic;
}

