<div class="homePage">
  <header>
      <h2>
          <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">
            Institut de sondage de la communauté de Morlaix
          </a>
        </h2>
      <div class="navBar">
          <button><a routerLink="/formulaire" routerLinkActive="active" ariaCurrentWhenActive="page">
                  FORMULAIRE
              </a></button>
          <button><a routerLink="/resultats" routerLinkActive="active" ariaCurrentWhenActive="page">
                  RESULTATS
              </a></button>
      </div>
  </header>
  <footer>Site réalisé par Axel Brun, Romain Groult et Alexis Montculier</footer>
</div>