<div>
  <header>
    <img src="assets/img/logoUniv.png" class="logoNavBar">
    <h2>
      <a routerLink="/">
        {{title}}
      </a>
    </h2>
    <div class="navBar">
      <a routerLink="/formulaire"><button>
          FORMULAIRE
        </button></a>
      <a routerLink="/resultats"><button>
          RESULTATS
        </button></a>
    </div>
  </header>
    <div class="pageAccueil">
      <router-outlet></router-outlet>
    </div>
  <footer>Site réalisé par Axel Brun, Romain Groult et Alexis Montculier</footer>
</div>