<div>
  <h1 id="title">Remplir le formulaire :</h1>
  <div>
    <form #surveyForm="ngForm" id="survey-form">
      <div class="flexContainer-center">
        <div class="flexContainer-column">
          <div class="flexContainer-row">
            <mat-form-field appearance="fill" class="form">
              <mat-label>Nom</mat-label>
              <input matInput required [formControl]="nom" (change)="onChangeData()" />
              <mat-error *ngIf="nom.invalid">{{ getEmailErrorMessage() }}</mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" class="form">
              <mat-label>Prénom</mat-label>
              <input matInput required [formControl]="prenom" (change)="onChangeData()" />
              <mat-error *ngIf="prenom.invalid">{{ getEmailErrorMessage() }}</mat-error>
            </mat-form-field>
          </div>

          <div class="flexContainer-row">
            <mat-form-field appearance="fill" class="form">
              <mat-label>Date de naissance </mat-label>
              <input matInput [matDatepicker]="picker" placeholder="JJ/MM/AAAA" required [formControl]="dateNaissance" (change)="onChangeData()" />
              <mat-error *ngIf="dateNaissance.invalid">{{ getDateNaissanceErrorMessage() }}</mat-error>

              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field appearance="fill" class="form">
              <mat-label>Adresse mail</mat-label>
              <input matInput placeholder="mail@example.com" [formControl]="email" required (change)="onChangeData()" />
              <mat-error *ngIf="email.invalid">{{ getEmailErrorMessage() }}</mat-error>
            </mat-form-field>
          </div>

          <mat-form-field appearance="fill" class="form adress">
            <mat-label>Adresse</mat-label>
            <input matInput required [formControl]="adresse" (change)="onChangeData()" />
            <mat-error *ngIf="adresse.invalid">{{ getAdresseErrorMessage() }}</mat-error>
          </mat-form-field>

          <div class="flexContainer-row">
            <mat-form-field appearance="fill" class="form">
              <mat-label>Code Postal</mat-label>
              <input matInput required [formControl]="codepostal" (change)="onChangeData()" />
              <mat-error *ngIf="codepostal.invalid">{{ getCodepostalErrorMessage() }}</mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" class="form">
              <mat-label>Ville</mat-label>
              <input matInput required [formControl]="ville" (change)="onChangeData()" />
              <mat-error *ngIf="ville.invalid">{{ getVilleErrorMessage() }}</mat-error>
            </mat-form-field>
          </div>

          <div class="flexContainer-center">
            <mat-form-field appearance="fill" class="form">
              <mat-label>Téléphone</mat-label>
              <input matInput [formControl]="numTelephone" required #input maxlength="10" minlength="10"
                (change)="onChangeData()" />
              <mat-error *ngIf="numTelephone.invalid">{{ getTelephoneErrorMessage() }}</mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="flexContainer-row">
          <div class="flexContainer-column">
            <mat-form-field appearance="fill" class="form">
              <mat-label>Choisissez un aliment</mat-label>
              <input type="text" placeholder="Ex : Bagel" matInput [formControl]="food1" [matAutocomplete]="auto" />
              <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                <mat-option *ngFor="let i of filteredOptions | async" [value]="i">{{ i.name }}</mat-option>
              </mat-autocomplete>
            </mat-form-field>

            <mat-form-field appearance="fill" class="form">
              <mat-label>Choisissez un aliment</mat-label>
              <input type="text" placeholder="Ex : Bagel" matInput [formControl]="food2" [matAutocomplete]="auto" />
              <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                <mat-option *ngFor="let i of filteredOptions | async" [value]="i">{{ i.name }}</mat-option>
              </mat-autocomplete>
            </mat-form-field>

            <mat-form-field appearance="fill" class="form">
              <mat-label>Choisissez un aliment</mat-label>
              <input type="text" placeholder="Ex : Bagel" matInput [formControl]="food3" [matAutocomplete]="auto" />
              <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                <mat-option *ngFor="let i of filteredOptions | async" [value]="i">{{ i.name }}</mat-option>
              </mat-autocomplete>
            </mat-form-field>

            <mat-form-field appearance="fill" class="form">
              <mat-label>Choisissez un aliment</mat-label>
              <input type="text" placeholder="Ex : Bagel" matInput [formControl]="food4" [matAutocomplete]="auto" />
              <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                <mat-option *ngFor="let i of filteredOptions | async" [value]="i">{{ i.name }}</mat-option>
              </mat-autocomplete>
            </mat-form-field>

            <mat-form-field appearance="fill" class="form">
              <mat-label>Choisissez un aliment</mat-label>
              <input type="text" placeholder="Ex : Bagel" matInput [formControl]="food5" [matAutocomplete]="auto" />
              <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                <mat-option *ngFor="let i of filteredOptions | async" [value]="i">{{ i.name }}</mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>

          <div class="flexContainer-column">
            <mat-form-field appearance="fill" class="form">
              <mat-label>Choisissez un aliment</mat-label>
              <input type="text" placeholder="Ex : Bagel" matInput [formControl]="food6" [matAutocomplete]="auto" />
              <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                <mat-option *ngFor="let i of filteredOptions | async" [value]="i">{{ i.name }}</mat-option>
              </mat-autocomplete>
            </mat-form-field>

            <mat-form-field appearance="fill" class="form">
              <mat-label>Choisissez un aliment</mat-label>
              <input type="text" placeholder="Ex : Bagel" matInput [formControl]="food7" [matAutocomplete]="auto" />
              <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                <mat-option *ngFor="let i of filteredOptions | async" [value]="i">{{ i.name }}</mat-option>
              </mat-autocomplete>
            </mat-form-field>

            <mat-form-field appearance="fill" class="form">
              <mat-label>Choisissez un aliment</mat-label>
              <input type="text" placeholder="Ex : Bagel" matInput [formControl]="food8" [matAutocomplete]="auto" />
              <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                <mat-option *ngFor="let i of filteredOptions | async" [value]="i">{{ i.name }}</mat-option>
              </mat-autocomplete>
            </mat-form-field>

            <mat-form-field appearance="fill" class="form">
              <mat-label>Choisissez un aliment</mat-label>
              <input type="text" placeholder="Ex : Bagel" matInput [formControl]="food9" [matAutocomplete]="auto" />
              <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                <mat-option *ngFor="let i of filteredOptions | async" [value]="i">{{ i.name }}</mat-option>
              </mat-autocomplete>
            </mat-form-field>

            <mat-form-field appearance="fill" class="form">
              <mat-label>Choisissez un aliment</mat-label>
              <input type="text" placeholder="Ex : Bagel" matInput [formControl]="food10" [matAutocomplete]="auto" />
              <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                <mat-option *ngFor="let i of filteredOptions | async" [value]="i">{{ i.name }}</mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="button">
        <button mat-raised-button [disabled]="!formValide" color="primary" type="submit" value="submit" id="submit"
          (click)="submit()">
          Envoyer
        </button>
        <button mat-raised-button color="warn" type="reset" value="reset" id="reset">
          Réinitialiser
        </button>
      </div>
    </form>
  </div>
</div>