.form {
  padding: 5px 20px;
  width: 256px;
  padding-left: 0;
}

.adress {
  width: 532px;
}

.button {
  justify-content: space-around;
  display: flex;
  font-size: larger;
  margin: 0 30%;
}

line {
  display: false;
}

.flexContainer-row {
  display: flex;
  flex-direction: row;
}

.flexContainer-column {
  display: flex;
  flex-direction: column;
}

.flexContainer-center {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.margin-R {
  margin-right: 25px;
}

@media only screen and (max-width: 1200px) {
  .flexContainer-center {
    flex-direction: column;
    justify-content: space-around;
  }
  .flexContainer-column {
    align-items: center;
  }
  .form {
    padding-left: 0;
  }
}

@media only screen and (max-width: 625px) {
  .flexContainer-row {
    flex-direction: column;
  }
  line {
    display: true;
  }
  h1 {
    font-size: 26px;
  }
  .form {
    padding: 0;
    width: 350px;
  }
  .button {
    margin-bottom: 5%;
  }
}
