<div>
  <h1 id="title">Remplir le formulaire :</h1>
  <div>
    <form #surveyForm="ngForm" id="survey-form">
      <div class="flexContainer-center">
        <div class="flexContainer-column">
          <div class="flexContainer-row">
            <mat-form-field appearance="outline" class="form">
              <mat-label>Nom</mat-label>
              <input matInput required [formControl]="nom" (change)="onChange()" />
              <mat-error *ngIf="nom.invalid">{{ getEmailErrorMessage() }}</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="form">
              <mat-label>Prénom</mat-label>
              <input matInput required [formControl]="prenom" (change)="onChange()" />
              <mat-error *ngIf="prenom.invalid">{{ getEmailErrorMessage() }}</mat-error>
            </mat-form-field>
          </div>

          <div class="flexContainer-row">
            <mat-form-field appearance="fill" class="form">
              <mat-label>Date de naissance </mat-label>
              <input matInput [matDatepicker]="picker" placeholder="JJ/MM/AAAA" required
                [formControl]="dateNaissance" (change)="onChange()" />
              <mat-error *ngIf="dateNaissance.invalid">{{ getDateNaissanceErrorMessage() }}</mat-error>

              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <mat-form-field appearance="fill" class="form">
              <mat-label>Adresse mail</mat-label>
              <input matInput placeholder="mail@example.com" [formControl]="email" required (change)="onChange()" />
              <mat-error *ngIf="email.invalid">{{ getEmailErrorMessage() }}</mat-error>
            </mat-form-field>
          </div>

          <mat-form-field appearance="outline" class="form adress">
            <mat-label>Adresse</mat-label>
            <input matInput required [formControl]="adresse" (change)="onChange()" />
            <mat-error *ngIf="adresse.invalid">{{ getAdresseErrorMessage() }}</mat-error>
          </mat-form-field>

          <div class="flexContainer-row">
            <mat-form-field appearance="outline" class="form">
              <mat-label>Code Postale</mat-label>
              <input matInput required [formControl]="codePostale" (change)="onChange()" />
              <mat-error *ngIf="codePostale.invalid">{{ getCodePostaleErrorMessage() }}</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="form">
              <mat-label>Ville</mat-label>
              <input matInput required [formControl]="ville" (change)="onChange()" />
              <mat-error *ngIf="ville.invalid">{{ getVilleErrorMessage() }}</mat-error>
            </mat-form-field>
          </div>

          <div class="flexContainer-center">
            <mat-form-field appearance="outline" class="form">
              <mat-label>Téléphone</mat-label>
              <input matInput [formControl]="numTelephone" required (change)="onChange()" />
              <mat-error *ngIf="numTelephone.invalid">{{ getTelephoneErrorMessage() }}</mat-error>
            </mat-form-field>
          </div>
        </div>

        <div class="flexContainer-column">
          <div class="flexContainer-row">
            <div class="form-control" *ngFor="let i of [1, 2]">
              <mat-form-field appearance="outline" class="form">
                <mat-label>Choisissez un aliment :</mat-label>
                <mat-select [(value)]="alimentsChoisi[i]">
                  <mat-option *ngFor="let i of listeAliments" [value]="i.foodName">{{ i.foodName }}</mat-option>
                </mat-select>
              </mat-form-field>

              <div class="form-control" *ngFor="let i of [1, 2, 3, 4, 5]">
                <mat-form-field class="secAnne-al" appearance="outline" class="form">
                  <mat-label>Choisissez un aliment :</mat-label>
                  <mat-select [(value)]="alimentsChoisi[i]">
                    <mat-option *ngFor="let i of listeAliments" [value]="i.foodName">{{ i.foodName }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="button">
        <button mat-raised-button [disabled]="!formValide" color="primary" type="submit" value="submit" id="submit" (click)="submit()">
          Envoyer
        </button>
        <button mat-raised-button color="warn" type="reset" value="reset" id="reset">
          Réinitialiser
        </button>
      </div>
    </form>
  </div>
</div>
