<div>
  <h1 id="title">Remplir le formulaire :</h1>
  <form id="survey-form">
    <div class="form-control">

      <mat-form-field appearance="outline" class="form left-side">
        <mat-label>Nom</mat-label>
        <input matInput />
      </mat-form-field>
      
      <mat-form-field appearance="outline" class="form">
        <mat-label>Prénom</mat-label>
        <input matInput />
      </mat-form-field>

    </div>

    <div class="form-control">
      <mat-form-field appearance="fill" class="form left-side">
        <mat-label>Date de naissance  </mat-label>
        <input matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="form-control">
      <label for="email" id="label-email"> Email </label>
      <input type="email" id="email" placeholder="Entrez votre email" />
    </div>

    <div class="form-control">
      <label for="aliment"> Quel Aliment préférez vous ? </label>
      <input
        name="aliment"
        id="aliment"
        placeholder="Entrez vos/votre aliment(s) préféré(s) ici"
      />
    </div>
    <div class="button">
      <button type="reset" value="reset" id="reset">Reset</button>
      <button type="submit" value="submit" id="submit">Submit</button>
    </div>
  </form>

  <div>
    
    <mat-form-field appearance="outline">
      <mat-label>Select</mat-label>
      <mat-select>
        <mat-option value="one">First option</mat-option>
        <mat-option value="two">Second option</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Textarea</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>
  </div>
</div>
