<h1>Présentation du projet</h1>
<p style="text-align: justify;">
    Ce projet est à but académique uniquement, nous sommes étudiants à l'IUT de Paris 
    Rives-de-Seine et avons réalisé ce site de collecte et de traitement de données sur les habitudes alimentaires dans le 
    cadre d'un projet universitaire.<br> La partie "front" de ce projet a été réalisée sur Angular. Pour la partie "back" 
    nous avons utilisé Java Spring Boot.<br>Nous avons coordonné notre travail sur un Trello public que vous pouvez consulter
    <a href="https://trello.com/b/o8YLKzqv/sa%C3%A9-2023">ici</a>.<br>Le but de cette application est de recueillir par le biais
    d'un sondage les préférences alimentaires des personnes répondant à ce sondage. Le formulaire est accessible via l'onglet 
    <a href="http://localhost:4200/formulaire">formulaire</a> et permettra d'enrichir notre base de données. Les résultats des
    statistiques sont consultables par tout le monde via l'onglet <a href="http://localhost:4200/resultats">resultats</a>. Aucune
    donnée personnelle n'est accessible via cet onglet, seul des statistiques produites à partir des données collectées sont visibles.
    <br>Nous vous remercions pour votre visite sur notre site et vous souhaitons une bonne navigation.
</p>
<br><br>
<h2>Avertissement RGPD</h2>
<p style="text-align: justify;">
    Les informations recueillies sur ce formulaire sont enregistrées dans un fichier informatisé par Romain Groult pour un projet 
    universitaire. La base légale du traitement est l'intérêt légitime. Les données collectées seront communiquées aux seuls 
    destinataires suivants : IUT de Paris. <br>Les données sont conservées pendant toute la durée de l'évaluation de ce projet. 
    Vous pouvez accéder aux données vous concernant, les rectifier, demander leur effacement ou exercer votre droit à la 
    limitation du traitement de vos données. Vous pouvez retirer à tout moment votre consentement au traitement de vos données. 
    Vous pouvez également vous opposer au traitement de vos données. Vous pouvez également exercer votre droit à la portabilité 
    de vos données. <br>Consultez le site <a href="https://www.cnil.fr/">cnil.fr</a> pour plus d’informations sur vos droits.<br> Pour exercer ces droits ou pour 
    toute question sur le traitement de vos données dans ce dispositif, vous pouvez contacter Axel Brun : axel.brun@etu.u-paris.fr
    <br>Si vous estimez, après nous avoir contactés, que vos droits « Informatique et Libertés » ne sont pas respectés, 
    vous pouvez adresser une réclamation à la CNIL.
</p>